<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="contactslist.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="contactslist.Perspective"
            id="ContactsList.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="contactslist.views.ContactListView"
            id="ContactsList.ContactsListView"
            name="Contacts List"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="ContactsList.ContactsListView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="contactslist.views.ContactEditor"
            id="ContactsList.ContactEditor"
            name="Contact Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="contactsList.save"
            name="Save">
      </command>
      <command
            id="contactsList.new"
            name="New">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="contactslist.handlers.SaveContactHandler"
            commandId="contactsList.save">
      </handler>
      <handler
            class="contactslist.handlers.NewContactHandler"
            commandId="contactsList.new">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ContactsList.toolbar">
            <command
                  commandId="contactsList.save"
                  label="Save">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="contactsList.new"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="contactsList.save"
                  label="Save"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="Help">
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ContactsList.application"
            name="Contacts List">
         <property
               name="appName"
               value="Contacts List">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="5,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="This applications sucks donkey balls">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="ContactsList.intro">
      </intro>
      <introProductBinding
            introId="ContactsList.intro"
            productId="ContactsList.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="ContactsList.introConfigId"
            introId="ContactsList.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
